.snavbar{
    width: 90%;
    max-width: 1440px;
    /* position: absolute;
    left: 5%; */
    /* top: 30px; */
    margin:0 auto;
    padding: 30px 0;
    /* margin-bottom: 2rem; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.menu-hide {
    display: none;
}

.hambuger-nav{
    background-color: #f5f5f5;
    color: #5034d4;
    min-height: fit-content;
    width: 350px;
    position: fixed;
    right: 5%;
    z-index: 10;
    top: 30px;
}
.hambuger-nav-container{
    width: 70%;
    margin: 20px auto;
}
.ham-nav-logo{
    display: none;
}
.ham-nav-close:hover{
    cursor: pointer;
}
.hambuger-nav header{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px 0;
    width: 90%;
    margin: 20px auto;
}
.hambuger-nav header img{
    height: 60px;
}
.hambuger-nav-links{
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 1.3rem;
    font-family: 'Source Code Pro', monospace;
}
.hambuger-nav-container p{
    font-size: 1.3rem;
    color: #cbc9e2;
    margin-top:40px;
    margin-bottom: 0;
}
.hambuger-nav-container a{
    text-decoration: none;
    color: #5034d4;
}
.hambuger-nav-container a:hover{
    color: #cbc9e2;
}
.hambuger-nav-container a:visited{
    color: #5034d4;
}
.hambuger-nav-social{
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
    padding: 20px 0;
}
ul {
    list-style: none;
}

.logo,svg{
    height: 60px;
}
svg:hover{
    cursor: pointer;
}
@media (max-width:767px) {
    .hambuger-nav{
        z-index: 10;
        width: 100vw;
        height: 100vh;
        top: 0;
        right: 0;
    }
    .ham-nav-logo{
        display: block;
    }
    .hambuger-nav header{
        justify-content: space-between;
    }
    .hambuger-nav-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 80vh;
    }
    .hambuger-nav-links{
        font-size: 1.6rem;
    }
    .hambuger-nav-container p{
        font-size: 2rem;
    }
    .hambuger-nav-social{
        font-size: 1.6rem;
    }
}

@media (max-width:425px) {
    .logo,svg,.hambuger-nav img{
        height: 40px;
    }
}
