
.works{
    color: #474747;
    width: 90%;
    margin: 0 auto;
    min-height: 400px;
    max-width: 1440px;
}
.works-header{
    text-align: center;
    margin-top: 8%;
}
.works-header h1{
    font-size: 2.6rem;
    color: #474747a0;
}
.works-header-span{
    color: #000000a2;
}
.works-header p{
    font-size: 1.2rem;
    font-family: 'Source Code Pro', monospace;

}
.works-projects{
    padding: 50px 0px;
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}
.project-card{
    min-height: 200px;
    width: 400px;
}
.project-card-name{
    font-size: 1.2rem;
    font-family: 'Source Code Pro', monospace;
}
.project-card-image{
    padding: 70px 0;
    text-align: center;
    background-color:#ccd6f63f ;
}
.project-card-image img{
    width: 200px;
}
.project-card-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px;
    background-color:#f5f5f53d ;
}
.project-card-links{
    display: flex;
    gap: 20px;
}
.project-card-links img{
    width:35px;
}

@media (max-width:907px) {
    .project-card{
        width: 300px;
    }
    .project-card-name{
        font-size: 1.1rem;;
    }

    .project-card-image img{
        width: 200px;
    }
 
    .project-card-links img{
        width:30px;
    }
}