.one{
    background-color: #5034d4;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    /* 64ffda */
}
h1{
    margin: 10px 0;
}
.one-intro{
    display: flex;
    align-items: flex-start;
    width: 90%;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    justify-content: space-between;
}
.intro{
    width: 60%;
    
}
.profile-image{
    width: 35%;
    display: flex;
    justify-content: center;
}
.profile-image img{
    width: 300px;
    height: 300px;
    border-radius: 10px;
}
.intro-1{
    color: #ccd6f6;
    font-size: 3.9rem;
}
.intro-1-span{
    color: #fff;
}
.intro-2{
    color: #ccf381;
    font-weight: bold;
    font-family: 'Source Code Pro', monospace;
}
.intro-3{
    color: #ccd6f6;
    font-size: 2rem;
}
.intro-3  span{
    color: #c8ccda;
}
.intro-4{
    /* width: 70%; */
    /* text-align: justify; */
    /* color: #8892b0; */
    color: #ccf381;
    font-family: 'Source Code Pro', monospace;

}

@media (max-width:1024px) {
    .intro-1{
        font-size: 3rem;
    }
    .profile-image img{
        width: 230px;
        height: 230px;
    }
    .one-intro{
        align-items: center;
        
    }
}
@media (max-width:867px) {
    .intro-1{
        font-size: 2.5rem;
    }
    .intro-3{
        color: #ccd6f6;
        font-size: 1.8rem;
    }
    
}
@media (max-width:768px) {
    .intro-1{
        font-size: 2rem;
    }
    .intro-3{
        color: #ccd6f6;
        font-size: 1.3rem;
    }
}
@media (max-width:650px) {
    /* .one{
        max-height: fit-content;
    } */
    .one-intro{
        flex-direction: column;
        margin-top: 10px;
    }
    .intro{
        width: 100%;
    }
    .profile-image img{
        width: 190px;
        height: 190px;
    }
    .profile-image{
        width: 111%;
        padding: 40px 0;
        background-color: #ccf381;
    }
}

@media (max-width:425px) {
    
}