

.four{
    background-color: #4831d4;
    color: #ccf381;
    min-height: 100vh;
}
.send-message{
    width: 90%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}
.send-message{text-align: center;
}
.send-message-header h1{
    font-size: 3rem;
}
.send-message-header p{
    font-size: 1.5rem;
    color:#ccd6f6;
    font-family: 'Source Code Pro', monospace;
}
.send-message-form{
    width: 60%;
    margin:3rem auto;
}
.first-form{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
/* ne stands for name and email */

.form-ne {
    width: 46%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
.send-message label{
    font-size: 1.2rem;
}
.form-ne input{
    width: 100%;
    padding: 10px 0px;
    border:none;
    background-color: transparent;
    color: #ccf381;
    border-bottom:  1px solid #ccf381;
    font-size: 1.1rem;
}
.form-ne input::placeholder{
    color: #ccf381;
}
.form-ne input:focus{
    outline: none;
}

.second-form{
    width: 100%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
.second-form textarea{
    width: 100%;
    height: 50px;
    padding: 10px 0px;
    border:none;
    background-color: transparent;
    color: #ccf381;
    border-bottom:  1px solid #ccf381;
    font-size: 1.1rem;
    resize: none;

}
textarea::placeholder{
    color: #ccf381;
}
textarea:focus{
    outline: none;
}

.send-message input:focus::placeholder, textarea:focus::placeholder{
    color: transparent;
}

.btn-message{
    border: 1px solid #ccf381;
    margin: 30px 0;
    background-color: transparent;
    color: #ccf381;
}

.btn-message:hover{
    color: #4831d4;
    background-color: #ccf381;
}


@media (max-width:1024px) {
    .send-message-form{
        width: 80%;
        /* margin:3rem auto; */
    }
}
@media (max-width:1024px) {
    .send-message-header h1{
        font-size: 2rem;
    }
    .send-message-header p{
        font-size: 1.25rem;
        color:#ccd6f6;
        
    }
}
@media (max-width:700px) {
    .send-message{
        margin-top: 0;
        padding-top: 3%;
    }
    .four{
        min-height: fit-content;
    }
}
@media (max-width:675px) {
    /* .send-message-header h1{
        font-size: 1.8rem;
    }*/
    .send-message-header p{
        font-size: 0.8rem;
    } 
    .send-message-form{
        width: 90%;
    }
    .first-form{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin-bottom: 20px;
        gap: 40px;
    }
    .form-ne{
        width: 100%;
    }
    .second-form textarea{
        padding: 15px 0 ;
    }
}


