.App{
  scroll-snap-type: y mandatory;
  overflow-y:scroll;
  height: 100vh;
  scroll-behavior: smooth;
}
.App {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.App::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}
section{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  scroll-snap-align: start;
  scroll-behavior: smooth;
}

.one{
  background-color: aqua;
}
.two{
  background-color: pink;
}
.three{
  background-color: blueviolet;
}
.four{
  background-color: grey;
}
.five{
  background-color: goldenrod;
}

