.container{
    scroll-snap-type: y mandatory;
    overflow-y:scroll;
    height: 100vh;
    scroll-behavior: smooth;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.container::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

section{
    /* min-height: 100vh; */
    scroll-snap-align: start;
    scroll-behavior: smooth;
    position: relative;
}


  
/* .one{
background-color: aqua;
} */
.two{
background-color: pink;
}
.three{
background-color: blueviolet;
}
.four{
background-color: grey;
}
.five{
background-color: goldenrod;
}

/* @media (max-width:650px) {
    .container{
        scroll-snap-type: none;
    }
    
} */